body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
}

/* Recomedacion es solo usar 2 o 3 fonts por proyecto */